.border-top-orange {
  border-top: 3px solid $color-red !important;
  border-radius: 8px;
}
.auth {
  margin-top: 180px !important;
  .title {
    font-size: 28px;
    color: $color-text-header;
  }
  form {
    margin-top: 30px;
    span {
      color: $color-red;
    }
  }
  .btn-login {
    margin-top: 25px;
  }
  .title-register {
    color: $color-text-subheader;
    a {
      color: $color-text-subheader;
    }
  }
}
