.card-dashboard {
  .title {
    font-size: 20px;
    color: $color-text-header;
  }

  .list-group {
    margin-top: 20px;
    .list-group-item {
      border: none;
      padding: 16px 16px;
      margin-bottom: 20px;
      &:hover {
        border-radius: 8px;
        background-color: #f7e5e5;
        color: $color-text;
      }
    }
  }
}
