.show-product {
  color: $color-text-header !important;
  h1 {
    font-size: 30px !important;
    font-weight: 400;
    text-shadow: 2px 2px 20px rgba(255, 0, 0, 0.397);
  }
  strong {
    color: $color-text-header;
    font-size: 20px;
  }
  .add-quantity {
    strong {
      color: $color-text-header;
      font-size: 16px;
      font-weight: 500;
    }
    i {
      color: red;
      opacity: 0.5;
    }
  }
  span {
    color: $color-text-header;
  }
  s {
    text-decoration-color: rgba(255, 0, 0, 0.753);
    color: $color-text-paragraf;
  }
  .table {
    tr {
      td {
        font-size: 16px;
        font-weight: 300;
        color: $color-text-header;
      }
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input {
    border: 2px solid rgb(56, 56, 56);
  }
  .input-group-text {
    border-right: 2px solid rgb(56, 56, 56);
    border-top: 2px solid rgb(56, 56, 56);
    border-bottom: 2px solid rgb(56, 56, 56);
    color: rgb(56, 56, 56);
    font-weight: 500;
  }
  .plus {
    border-right: none;
    border-left: 2px solid rgb(56, 56, 56);
    border-top: 2px solid rgb(56, 56, 56);
    border-bottom: 2px solid rgb(56, 56, 56);
  }
  .content-description {
    color: $color-text-subheader;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
  }
  .nav-link {
    color: $color-text-header;
    font-weight: 500;
  }
  .text-info {
    color: $color-text-header !important;
    font-weight: 500;
    text-decoration: underline;
  }
  /* ratting */
  .media {
    .media-body {
      h5 {
        color: $color-text-subheader;
        font-size: 18px;
      }
      p {
        font-size: 14px;
        margin-top: 10px;
        color: $color-text-paragraf;
      }
    }
  }
}
