@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap");
#app {
  padding-top: 150px;
  font-family: "Poppins", sans-serif;
}

#app h1 {
  font-size: 24px;
  color: #123049;
}

#app .sub-title {
  color: #232f51;
}

#app .router-link-exact-active.menuItem-active-link {
  background-color: #fcc7c7ec;
  color: #123049;
  border-radius: 8px;
}

#app .chat-box {
  width: 60px;
  height: 60px;
  background: #aa0814;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#app .chat-box img {
  margin-top: 12px;
  margin-left: 12px;
}

#app .chat-box:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #eb0000;
  -webkit-box-shadow: 10px 10px 44px 16px rgba(0, 0, 0, 0.26);
          box-shadow: 10px 10px 44px 16px rgba(0, 0, 0, 0.26);
  bottom: 30px;
}

@media (max-width: 576px) {
  #app {
    font-size: 14px;
  }
  #app h1 {
    font-size: 20px;
    color: #123049;
  }
  #app .sub-title {
    color: #232f51;
    font-size: 14px;
  }
}

.border-top-orange {
  border-top: 3px solid #ffb8b8 !important;
  border-radius: 8px;
}

.auth {
  margin-top: 80px;
}

.auth .title {
  font-size: 28px;
  color: #123049;
}

.auth form {
  margin-top: 30px;
}

.auth form span {
  color: #eb0000;
}

.auth .title-register {
  color: #232f51;
}

.auth .title-register a {
  color: #232f51;
}

.btn-auth {
  background-color: #eb0000;
  border-radius: 50px;
  color: #fff !important;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  letter-spacing: 5px;
  font-size: 14px;
}

.btn-auth:hover {
  background-color: #f7e5e5;
  border-radius: 50px;
  color: #eb0000 !important;
}

.btn-auth-two {
  background-color: #f7e5e5;
  border-radius: 50px;
  color: #eb0000;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  letter-spacing: 5px;
  font-size: 14px;
}

.btn-auth-two:hover {
  background-color: #fff;
  border: 1px solid #eb0000;
  border-radius: 50px;
  color: #eb0000;
}

.section-header {
  background-color: #fff;
  color: #123049;
  /* colapse */
}

.section-header .img-company {
  width: 80px;
}

.section-header .header-main {
  padding: 5px 0 0 0;
}

.section-header .header-main span {
  color: #123049;
}

.section-header .header-main .search-button {
  background-color: #fff;
  color: #eb0000;
  padding: 6px 10px;
  border-radius: 20px;
}

.section-header .header-main .btn-cart {
  font-weight: 600;
  background-color: #fff;
  color: #123049;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

.section-header .header-main .btn-cart .badge {
  color: #fff;
  letter-spacing: normal;
}

.section-header .header-main .btn-cart .badge img {
  width: 15px;
}

.section-header .header-main .form-search {
  border-radius: 20px;
  border-right: none;
  padding: 10px 20px;
}

.section-header .header-main .form-control::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 0, 0, 0.548);
  opacity: 1;
  /* Firefox */
}

.section-header .header-main .form-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 0, 0, 0.548);
  opacity: 1;
  /* Firefox */
}

.section-header .header-main .form-control::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 0, 0, 0.548);
  opacity: 1;
  /* Firefox */
}

.section-header .header-main .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 0, 0, 0.548);
  opacity: 1;
  /* Firefox */
}

.section-header .header-main .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 0, 0, 0.548);
}

.section-header .header-main .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 0, 0, 0.548);
}

.section-header .navbar {
  padding: 0 0 10px 0;
}

.section-header .navbar .search-button-mobile {
  padding: 6px;
}

.section-header .navbar .navbar-toggler {
  padding: 4px;
}

.section-header .navbar .nav-item {
  font-size: 16px;
}

.section-header .navbar .nav-item a {
  color: #123049;
  font-weight: 500;
  margin-left: 50px;
  font-size: 15px;
}

.section-header .navbar .nav-item a i {
  display: none;
}

.section-header .navbar .dropdown-menu {
  padding: 20px;
}

.section-header .navbar .dropdown-menu .dropdown-item {
  margin-top: 15px;
  padding: 8px 24px;
}

.section-header .navbar .dropdown-menu .dropdown-item img {
  border-radius: 5px;
  margin-right: 20px;
}

.section-header .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #eb0000;
  color: #123049;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-header .navbar .dropdown-menu .btn-more {
  background-color: #eb0000;
  color: #123049;
  border-radius: 8px;
}

.section-header .navbar .dropdown-menu .btn-more:hover {
  background-color: #922200;
}

.section-header .navbar-hidden {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  margin-top: -60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section-header .header-main {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .section-header {
    /* colapse */
  }
  .section-header .header-main {
    padding-top: 5px;
  }
  .section-header .img-company {
    width: 60px;
  }
  .section-header .search-button {
    background-color: #fff;
    color: #eb0000;
    padding: 6px 10px;
    border-radius: 20px;
  }
  .section-header .btn-cart {
    background-color: #fff;
    color: #123049;
    padding: 6px 10px;
    border-radius: 20px;
    margin-top: 5px;
    font-size: 13px !important;
    letter-spacing: 1px !important;
  }
  .section-header .btn-cart .badge {
    color: #fff;
    font-size: 10px !important;
  }
  .section-header .form-search {
    border-radius: 20px;
    border-right: none;
    padding: 10px 20px;
  }
  .section-header .form-control::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 0, 0, 0.548);
    opacity: 1;
    /* Firefox */
  }
  .section-header .form-control:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 0, 0, 0.548);
    opacity: 1;
    /* Firefox */
  }
  .section-header .form-control::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 0, 0, 0.548);
    opacity: 1;
    /* Firefox */
  }
  .section-header .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 0, 0, 0.548);
    opacity: 1;
    /* Firefox */
  }
  .section-header .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 0, 0, 0.548);
  }
  .section-header .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 0, 0, 0.548);
  }
  .section-header .navbar {
    padding: 5px 0;
  }
  .section-header .navbar .navbar-toggler {
    margin: 20% auto !important;
  }
  .section-header .navbar .navbar-toggler .navbar-toggler-icon {
    font-size: 15px !important;
  }
  .section-header .navbar .form-search {
    padding: 6px 20px;
  }
  .section-header .navbar a.nav-link {
    margin-top: 20px;
  }
  .section-header .navbar a.btn {
    margin-top: 20px;
    margin-right: 5px !important;
    margin-left: 0 !important;
    font-size: 12px;
  }
  .section-header .navbar-hidden {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    margin-top: -50px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .section-header .header-main {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.section-service {
  margin-top: 80px;
  position: relative;
}

.section-service .text-header h1 {
  font-size: 20px !important;
  font-weight: 500;
  color: #123049;
  letter-spacing: 5px;
}

.section-service .row-service {
  margin-top: 80px;
}

.section-service .row-service img {
  width: 55px;
}

.section-service .row-service .title {
  color: #eb0000;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
  margin-top: 20px;
}

.section-service .row-service .subtitle {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
}

.sd {
  position: relative;
}

.sd .bg-titik {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 250px;
  background-color: #fff;
  opacity: 1;
  background-image: radial-gradient(#444cf7 1.1px, #fff 1.1px);
  background-size: 22px 22px;
}

.sd .bg-titik-right {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 80px;
  width: 80px;
  height: 250px;
  background-color: #fff;
  opacity: 1;
  background-image: radial-gradient(#444cf7 1.1px, #fff 1.1px);
  background-size: 22px 22px;
}

.section-kategori {
  margin-top: 150px !important;
}

.section-kategori .text-header h1 {
  font-size: 20px !important;
  font-weight: 500;
  letter-spacing: 5px;
  color: #123049;
}

.section-kategori .row-kategori .card-thumb {
  width: 100%;
  overflow: hidden;
}

.section-kategori .row-kategori .card-thumb img {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.section-kategori .row-kategori .card-thumb img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.section-kategori .row-kategori a,
.section-kategori .row-kategori .card-title {
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #123049;
}

.mini-banner {
  margin-top: 80px;
  background-color: rgba(236, 236, 236, 0.856);
}

.mini-banner .container-fluid {
  padding: 0;
  margin: 0;
}

.mini-banner .col-text-baner {
  position: relative;
}

.mini-banner .text-baner {
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mini-banner .text {
  color: #eb0000;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

.mini-banner .subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #232f51;
}

.mini-banner .btn-home {
  background-color: red;
  color: #fff;
  margin-top: 20px;
  border-radius: 24px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.mini-banner .btn-home:hover {
  background-color: #f7e5e5;
  color: #eb0000;
  border: 1px solid #eb0000;
  margin-top: 18px;
}

.mini-banner .col-carousel {
  padding: 0;
}

.mini-banner .carousel {
  margin-top: 0;
}

.mini-banner .carousel img {
  height: 480px;
  position: relative;
}

.mini-banner .carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 480px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.205)), to(rgba(255, 255, 255, 0.664)));
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.205), rgba(255, 255, 255, 0.664));
}

.product-terbaru h1,
.video-yt h1 {
  letter-spacing: 5px;
  font-size: 20px !important;
  margin-bottom: 50px !important;
  color: #123049;
}

.carousel {
  margin-top: -40px;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  background-color: #fff;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.486);
}

.text-header {
  margin-top: 30px;
}

.product-terlaris {
  margin-top: 30px;
}

.product-terlaris a {
  text-decoration: none;
  color: #7686ab;
}

.product-terlaris .card-product {
  text-align: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
          box-shadow: 0 15px 30px rgba(102, 113, 228, 0.13);
  border: 1px solid #aeaeae67;
  border-radius: 8px;
}

.product-terlaris .product-thumbnail {
  width: 100%;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.product-terlaris .product-thumbnail img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-terlaris .product-thumbnail img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.product-terlaris .title {
  color: #123049;
}

.product-terlaris .categories {
  color: #7686ab;
  margin: 10px 0;
}

.product-terlaris .discount {
  margin: 10px 0;
}

.product-terlaris .discount .bg-info {
  background-color: #eb0000 !important;
}

.product-terlaris s {
  color: #eb0000;
}

.product-terlaris .price {
  color: #232f51;
}

.show-product {
  color: #123049 !important;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.show-product h1 {
  font-size: 30px !important;
  font-weight: 400;
  text-shadow: 2px 2px 20px rgba(255, 0, 0, 0.397);
}

.show-product strong {
  color: #123049;
  font-size: 20px;
}

.show-product .add-quantity strong {
  color: #123049;
  font-size: 16px;
  font-weight: 500;
}

.show-product .add-quantity i {
  color: red;
  opacity: 0.5;
}

.show-product span {
  color: #123049;
}

.show-product s {
  -webkit-text-decoration-color: rgba(255, 0, 0, 0.753);
          text-decoration-color: rgba(255, 0, 0, 0.753);
  color: #7686ab;
}

.show-product .table tr td {
  font-size: 16px;
  font-weight: 300;
  color: #123049;
}

.show-product input::-webkit-outer-spin-button,
.show-product input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.show-product input[type="number"] {
  -moz-appearance: textfield;
}

.show-product input {
  border: 2px solid #383838;
}

.show-product .input-group-text {
  border-right: 2px solid #383838;
  border-top: 2px solid #383838;
  border-bottom: 2px solid #383838;
  color: #383838;
  font-weight: 500;
}

.show-product .plus {
  border-right: none;
  border-left: 2px solid #383838;
  border-top: 2px solid #383838;
  border-bottom: 2px solid #383838;
}

.chart-product .cart-empety {
  margin-bottom: 20vh;
  margin: auto;
  width: 100%;
  text-align: center;
}

.chart-product .cart-empety img {
  opacity: 20%;
  width: 100px;
  margin-top: 50px;
}

.chart-product .cart-empety .title {
  font-weight: bold;
  font-size: 18px;
  color: #525252;
}

.chart-product .cart-empety .btn-auth {
  margin-top: 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

.chart-product h2 {
  font-size: 20px;
  font-weight: 600;
  color: #123049;
}

.chart-product .card-chart {
  margin-top: 20px;
}

.chart-product thead tr {
  color: #232f51;
}

.chart-product td .title {
  color: #232f51;
}

.chart-product td .diskon {
  color: #7686ab;
  font-size: 12px !important;
}

.chart-product td .diskon s {
  -webkit-text-decoration-color: rgba(255, 0, 0, 0.486);
          text-decoration-color: rgba(255, 0, 0, 0.486);
}

.chart-product td .price {
  color: #232f51;
  font-weight: 500;
}

.chart-product td .btn-trash {
  background-color: rgba(139, 161, 180, 0.562);
  color: whitesmoke;
  font-size: 12px;
}

.chart-product .title {
  color: #232f51;
}

.chart-product .card-detail {
  margin-top: 45px;
}

.chart-product .card-detail .card-header {
  background-color: #393939;
  color: #fff;
  font-weight: 600;
  padding: 18px 16px;
  border-radius: 8px 8px 0 0;
}

.chart-product .card-detail .card-body {
  margin-top: 10px;
}

.chart-product .card-detail .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
}

.chart-product .card-detail .card-body .card-informations {
  margin-top: 20px;
}

.chart-product .card-detail .card-body .card-informations tr > td {
  padding-bottom: 20px;
}

.chart-product .card-detail .card-body .harga-asli,
.chart-product .card-detail .card-body .harga-stelah-diskon {
  font-weight: 500;
}

.chart-product .card-detail .card-body .harga {
  color: #7686ab;
}

.chart-product .card-detail .card-body .total {
  font-weight: bold;
  font-size: 18px;
  color: red;
}

.chart-product .card-detail .card-body i {
  font-weight: 300;
  font-size: 12px;
  color: #7686ab;
}

.chart-product .card-detail .btn-pembayaran {
  font-weight: bold !important;
  letter-spacing: 0;
  font-size: 15px;
  margin-top: 15px;
  border-radius: unset !important;
}

.chart-product .card-detail .btn-pembayaran[disabled] {
  font-weight: bold !important;
  letter-spacing: 0;
  font-size: 15px;
  margin-top: 15px;
  border-radius: unset !important;
  cursor: not-allowed !important;
  background-color: rgba(255, 0, 0, 0.315);
}

.rincian-pengiriman {
  margin-top: 50px;
}

.rincian-pengiriman .accordion h2 {
  font-size: 18px;
  font-weight: 500;
}

.rincian-pengiriman .accordion h2 i {
  font-size: 16px;
}

.rincian-pengiriman .accordion .accordion-body {
  margin-top: 20px;
}

.rincian-pengiriman .accordion .accordion-body .form-group {
  margin-bottom: 30px;
}

.rincian-pengiriman .accordion .accordion-body label {
  margin-bottom: 10px;
}

.categories a {
  text-decoration: none;
}

.categories .card-category {
  text-align: center;
  color: #232f51;
  margin-bottom: 20px;
}

.categories .card-category img {
  border-radius: 8px;
}

.breadcrumb .parent a {
  font-weight: 500;
  color: #123049 !important;
}

.card-dashboard .title {
  font-size: 20px;
  color: #123049;
}

.card-dashboard tr > td {
  padding-top: 20px;
}

.card-dashboard .btn-detail {
  background-color: rgba(139, 161, 180, 0.562);
  color: whitesmoke;
  font-size: 12px;
}

.card-dashboard .list-group {
  margin-top: 20px;
}

.card-dashboard .list-group .list-group-item {
  border: none;
  padding: 16px 16px;
  margin-bottom: 20px;
}

.card-dashboard .list-group .list-group-item:hover {
  border-radius: 8px;
  background-color: #f7e5e5;
  color: #123049;
}

.detail-order .title {
  font-size: 18px;
  font-weight: bold;
  color: #123049;
}

.detail-order tr > td {
  padding-bottom: 15px !important;
}

.detail-order td {
  color: #232f51;
}

.detail-order .table img {
  width: 120px;
}

.detail-order .table .title {
  font-size: 16px;
  font-weight: 500;
  color: #123049;
}

footer {
  margin-top: 20vh;
}

footer hr {
  color: #7686ab;
  margin-bottom: 60px;
}

footer .sub-footer {
  color: #7686ab;
  font-size: 14px;
  font-weight: 300;
}

footer h4 {
  font-size: 18px;
  font-weight: 600;
  color: #123049;
  text-decoration: underline;
}

footer .content {
  font-size: 15px;
  margin-top: 50px;
  font-weight: 500;
}

footer .content .title a {
  line-height: 30px;
  color: #232f51;
  text-decoration: none;
}

footer .content .title a:hover {
  text-decoration: underline;
  color: #7686ab;
}

footer .content .lingkaran {
  position: relative;
  font-size: 25px;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 100%;
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

footer .content .lingkaran .btn-icon {
  color: #fff;
  position: absolute;
  top: 51%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .content .alamat {
  clear: left;
  color: #232f51;
}

footer .content .alamat .surel {
  line-height: 35px;
  margin-bottom: 20px;
}

footer .content .alamat p {
  line-height: 35px;
}

footer .content .alamat p i {
  color: red;
}
/*# sourceMappingURL=main.css.map */